<!DOCTYPE html>
<html>
    <head>
        <title>WEB -{0}</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="/static/style.css">
    </head>
<body>
    <h1><a href="/">WEB</a></h1>
    <div id = container>
         <div id = left>
                <h2 >Login</h2>
        </div>
        <div id = right>
            <form action = "/login" method ="post">
                <p><input type="text" name="id" placeholder="userid"></p>
                <p><input type="password" name="pw" placeholder="password"></p>    
                <button type ="submit">로그인</button>
                {{message}}
             </form>
        </div>
    </div>
</body>
</html>