<!DOCTYPE html>
<html>
    <head>
        <title>WEB-{{title}}</title>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="/static/style.css">
    </head>
<body>
    <h1><a href="/">WEB</a></h1>
    <div id="container">
        <div id="left">
            <h2 id=login_text><a href ="/login">Login</a></h2>
        </div>
        <div id="right">
           <div>
                <img src="https://source.unsplash.com/random" width="30%" height="150">
                <img src="https://source.unsplash.com/featured/?cat" width="30%" height="150">
                <img src="https://source.unsplash.com/featured/?dog" width="30%" height="150">
            </div>
            <h3> {{content}}
            </h3>
        </div>
    </div>
</body>
</html>
    
